[Unit]
Description=Show stuff on the screen
After=network.target

[Service]
User=purdyk
Group=purdyk
Type=simple
WorkingDirectory=/home/purdyk/ads-bby
ExecStart=/home/purdyk/.local/bin/uv run /home/purdyk/ads-bby/main.py

[Install]
WantedBy=multi-user.target
